lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.txt
*.sql
*.ai

pids
logs
results

npm-debug.log
node_modules
routes/config.js
routes/*backup*

public/images/*
public/img/*
public/jquery-ui-1.10.3.custom
public/data/
public/scripts/
uploads/*
shapefiles
dump*
setup.txt

.DS_Store
.AppleDouble
.LSOverride
Icon
