<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>

    {{> navbar}}
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3>Friends of the UMMP Michigan Basin Image Database</h3>

        <img id="logo" src="/img/logo.jpg">
        <dl>
          <dt>Our Purpose:</dt>
          <dd>An organization founded in 1971 whose members support the activities, research and study of fossils at the University of Michigan, Museum of Paleontology.</dd><br>

          <dt>Non-Profit Status:</dt>
          <dd>The Friends of the University of Michigan, Museum of Paleontology is organized for charitable, educational and scientific purposes. Its main purpose is to financially support the research projects, publications and public exhibits of the University of Michigan, Museum of Paleontology. Financial support is possible through fund raisers, gifts and volunteer work under section 501 (c) (3) of the Internal Revenue Code. Donations to the organization are tax deductible.</dd><br>

          <dt>Fossils of the Michigan Basin: A Photo Archive</dt>
          <dd>This site showcases Michigan Basin fossils from: our members' private fossil collections and select specimens from the University of Michigan collection, including type specimens. This archive also links to the <a href="http://deepblue.lib.umich.edu/">Deep Blue</a> and the <a href="http://paleobiodb.org/">Paleobiology Database</a> as educational resources for the fossils within.</dd><br>

          <dt>Contact Information:</dt>
          <dd>
            <address>
              <strong>FUMMP</strong><br>
               c/o Museum of Paleontology<br>
               The University of Michigan<br>
               109 Geddes Ave.<br>
               Ann Arbor, MI 48109-1079
               fummpinfo --at-- gmail --dot-- com
            </address>

            <address>
              <strong>President Michael Lask</strong><br>
              laskmike --at-- gmail --dot-- com
            </address>

            <address>
              <strong>Vice President Michael Palescuk</strong><br>
            </address>

            <address>
              <strong>Secretary Sally Labadie</strong><br>
            </address>
            
            <address>
              <strong>Treasurer Joe Koniecki</strong><br>
            </address>
          </dd>
        </dl>
        </div>
      </div>
    <hr>

    {{> footer}}

    </div><!--/.fluid-container-->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<script src="/js/jquery.v2.0.min.js"></script>-->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>-->
    <script src="/js/mustache.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/common.js"></script>

  </body>
</html>
