<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>

    {{> navbar}}
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3>About the UMMP Photo Archive Application</h3>
          <dl>
            <dt>Project funding:</dt>
            <dd>The Friends of the University of Michigan Museum of Paleontology Image Archive application is funded by the National Science Foundation (NSF) grant EAR #1150082.</dd><br>

            <dt>Contributors:</dt>
            <ul>
            <dd><li><a href="http://strata.geology.wisc.edu/Home/Home.html">Shanan Peters - Principal Investigator</a>, created the first version of this application, and is responsible for the database design, a majority of the SQL, the general concept and design, funding, and leadership.</li><br></dd>
            <dd><li><a href="http://johnjcz.com">John Czaplewski</a> designed the current iteration of this application, and is responsible for the UX and server design, the mapping and photo viewing components, including all of the Javascript programming and general web development.</li></dd><br>
            <dd><li><a href="http://www-personal.umich.edu/~tomaszb/index.htm">Tomasz K Baumiller</a> is the Invertebrate Curator at the <a href="http://www.lsa.umich.edu/paleontology/">Museum of Paleontology</a> and Professor of Earth and Environmental Sciences at the University of Michigan, and played a key role in the implementation of this application.</li></dd><br>
            <dd><li><a href="http://punkish.org/">Puneet Kishor</a> of <a href="http://creativecommons.org/staff#puneetkishor">Creative Commons</a> and Michael McClennen of the Macrostrat Lab at the University of Wisconsin-Madison GeoScience Department provided countless amounts of feedback, advice, and guidance during the development of this application.</li></dd><br>
            <dd><li>This project would not be possible without all of the photo contributors who graciously donate their time and effort to making this application a success.</li></dd><br>
            </ul>
            <dt>Code:</dt>
            <dd>The code for the application was largely developed by John Czaplewski and can be found <a href="https://github.com/UW-Macrostrat/michigan-basin-fossils" target="_blank">on Github</a>.
            </dd>
            <br><br>
          </dl>
        </div>
      </div>
    <hr>

    {{> footer}}

    </div><!--/.fluid-container-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<script src="/js/jquery.v2.0.min.js"></script>-->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>-->
    <script src="/js/mustache.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/common.js"></script>

  </body>
</html>