<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>

    {{> navbar}}
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3>Edit Record</h3>
          <form method='POST' enctype='multipart/form-data' onsubmit="return verifyTaxa()" action='/editRecord' id='uploadForm'  >

            <table id="uploadTable" class="table table-striped">
              <input type='hidden' name='record' value=''/>
              <tr class='taxon'>
                <th class='right'>Taxon 1*:</th>
                <td><input placeholder="Phyla, class, or order" type='text' size='22' name='t1'/> <select class="small" name='tres1'><option value='' selected></option><option value='aff.'>aff.</option><option value='cf.'>cf.</option><option value='ex gr.'>ex gr.</option><option value='n. gen.'>n. gen.</option><option value='sensu lato'>sensu lato</option><option value='?'>?</option><option value=''>&quot;</option><option value='informal'>informal</option><option value='informal aff.'>informal aff.</option><option value='informal cf.'>informal cf.</option></select>
                <input placeholder="species" type='text' size='20' name='s1'/> <select class="small" name='sres1'><option value='' selected></option><option value='aff.'>aff.</option><option value='cf.'>cf.</option><option value='ex gr.'>ex gr.</option><option value='n. gen.'>n. gen.</option><option value='sensu lato'>sensu lato</option><option value='?'>?</option><option value=''>&quot;</option><option value='informal'>informal</option><option value='informal aff.'>informal aff.</option><option value='informal cf.'>informal cf.</option></select></td>
              </tr>
              <tr class="stratigraphy">
                <th class='right'>Stratigraphy*:</th>
                <td>
                  <i>Group:  </i>
                  <select class="medium" name="gr">
                    <option value="" selected>&nbsp;</option>
                    {{#groups}}
                    <option value="{{id}}">{{unit}}</option>
                    {{/groups}}
                  </select> 
                  <i>Formation:  </i>
                  <select class="medium" name="fm">
                    <option value="" selected>&nbsp;</option>
                    {{#formations}}
                    <option value="{{id}}">{{unit}}</option>
                    {{/formations}}
                  </select> 
                  <i>Member:  </i>
                  <select class="medium" name="mb">
                    <option value="" selected>&nbsp;</option>
                    {{#members}}
                    <option value="{{id}}">{{unit}}</option>
                    {{/members}}
                  </select>
                  <br>(Only choose finest known scale)
                </td>
              </tr>
              <tr class="location">
                  <th class='right'>Location*:</th>
                  <td>
                    <i>State:  </i>
                      <select class="medium" id="stateSelector" name="state"><option value="" selected>&nbsp;</option><option value="IN">IN</option><option value="MI">MI</option><option value="OH">OH</option><option value="ON">ON</option><option value="WI">WI</option></select>
                    <i>County:  </i>
                      <select class="medium" id="countySelector" name="county">
                        <option value="" selected>&nbsp;</option>
                      </select>

                    <i>Nearest City:  </i>
                      <input placeholder='optional' type='text' size='30' id="city" name='city' data-provide='typeahead'/>                 
                </td>
              </tr>
              <tr class="image">
                <th class='right'>Image*</th>
                <td>
                  Current image: <img id="currentImage" src='' />
                  
                             Choose a new one: <input type="file" name="photo" style="margin-top:-28px;"/>
                  <label class="checkbox" style="display:inline-table;margin-top:-20px;">
                    <input type='checkbox' name='watermark' value='1'/>Add copyright
                  </label>
                </td>
              </tr>
              <tr>
                <th class='right'>Image title:</th>
                <td><input type='text' size='59' name='title' placeholder="title"/></td>
              </tr>
              <tr>
                <th class='right'>Image comments:</th>
                <td><textarea rows="3" type='text' size='81' name='notes' placeholder="comments"></textarea></td>
              </tr>
              <tr>
                <th class='right'>Hide me:</th>
                <td>
                  <label class="checkbox" style="display:inline-table;">
                    <input type='checkbox' name='hide_me' value='1'/>Post anonymously
                  </label>
                </td>
              </tr>
              <tr>
                <th class='right'>Specimen Info:</th>
                <td> <select name="itype"><option value="" selected></option>  <option value="ummp unprepared">ummp unprepared</option><option value="ummp prepared">ummp prepared</option><option value="unprepared">unprepared</option><option value="prepared">prepared</option><option value="field">field</option><option value="reconstruction">reconstruction</option></select> 
                <input placeholder="ummp number" type='text' size='5' name='ummp'/> 
                Type Specimen<select class="medium" name="ttype"><option value="" selected></option><option value="holotype">holotype</option><option value="hypotype">hypotype</option><option value="paratype">paratype</option><option value="syntype">syntype</option></select>
                </td>
              </tr>
              <tr style="display:none;">
                <th></th>
                <td>
                  <input type='text' size='3' name='numTaxa'/>
                </td>
              </tr>
              
            </table>
            <p>* Required fields</p>
            <div id="addATaxonUpload" class="btn btn-inverse">Add another Taxon</div>
            <button type="submit" value="Submit" class="btn btn-success">Save Edits</button>
            <div id="deleteRecord" class="btn btn-danger">Delete Record</div>
          </form>
        </div>
      </div>
    <hr>

    {{> footer}}

    </div><!--/.fluid-container-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/mustache.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/editRecord.js"></script>
    <script type="text/javascript">
    
    function getResults() {
      return {{{result}}};
    }
    function getTaxa() {
      return {{{taxa}}};
    }
    var results = getResults(),
        taxa = getTaxa();

    function fillForm() {
      $('[name=record]').val(results[0].id);

      $('#currentImage').attr("src", '/images/thumbs/' + results[0].id + '.jpg');

      $('[name=t1]').val(taxa[0].taxon);
      $('[name=tres1]').val(taxa[0].taxon_reso);
      $('[name=s1]').val(taxa[0].species);
      $('[name=sres1]').val(taxa[0].species_reso);

      // If more than 1 taxon, adjust the form and fill it accordingly
      if (taxa.length > 1) {
        var taxaToAdd = taxa.length;
        for(var i=1; i<taxaToAdd; i++) {
          // Add another taxon slot
          $('#addATaxonUpload').click();
          var x = i + 1;
          // Fill it
          $('[name=t' + x + ']').val(taxa[i].taxon);
          $('[name=tres' + x + ']').val(taxa[i].taxon_reso);
          $('[name=s' + x + ']').val(taxa[i].species);
          $('[name=sres' + x + ']').val(taxa[i].species_reso);
        }
      }

      var stratReso = results[0].rank;
      $('[name=' + stratReso + ']').val(results[0].strat_id);

      $('[name=state]').val(results[0].state);

      var selectedState = $("#stateSelector").val();

      // Fetch counties
      $('#countySelector').children().remove().end();
      $("#countySelector").append("<option value='' selected>&nbsp;</option>");
      $.ajax({
        type:'GET',
        url:'/api/getCounties?state=' + selectedState, 
        success: function(data) {
          var counties = data;

          for(var i=0;i<counties.length;i++) {
            $("#countySelector").append("<option value='" + counties[i].county + "''>" + counties[i].county + "</option>");
          }
        }, 
        dataType: 'jsonp', 
        async: false 
      });

      $('[name=county]').val(results[0].county);
      $('[name=city]').val(results[0].city);

      $('[name=title]').val(results[0].title);
      $('[name=notes]').val(results[0].notes);

      $('[name=itype]').val(results[0].image_type);
      $('[name=ummp]').val(results[0].ummp);
      $('[name=ttype]').val(results[0].type_specimen);
    }
    fillForm();

    $('#deleteRecord').click(function() {
      var confirmation = confirm("Are you sure you'd like to delete this record? All user comments will also be deleted");
      if (confirmation === true) {
        var currentRecord = $('[name=record').val();
        $.ajax({
          type:'POST',
          url:'/deleteRecord/' + currentRecord, 
          success: function(data) {
            console.log("deleted");
            window.location.replace('/search/recent?page=1')
          }, 
          async: false 
        });
      } else {
        return false;
      }
    });
    </script>
  </body>
</html>