<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>

    {{> navbar}}
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3>FAQ</h3>
          <dl>
            <dt>What types of images are appropriate to post?</dt>
            <dd>Anything related to paleontology in the Michigan Basin region! There are a few minimum requirements though (see below).</dd><br><br>

            <dt>Is there a specific image format that is required?</dt>
            <dd>Images should be in JPEG format and less than 3MB in size. One of the objectives of this site is to provide <em>high-quality</em> images for use in the interactive UMMP display kiosk, so we all should aim high when it comes to image quality.<br><br>

            Image quality is <em>very important</em>! The specimens are beautiful and informative...their images should be too!</dd><br><br>

            <dt>What information must I provide about an image?</dt>
            <dd>Each image must be accompanied by at least a county designation (Canada counties are still problematic in the database at this point) and a stratigraphic designation (e.g., 'Traverse Group'). If this information is not supplied, the photo will be rejected by the server. Additionally, at least one taxonomic name needs to be assigned, but it can be general and even incorrect! Let your peers help you!</dd><br><br>

            <dt>What if I do not know what my specimen is?</dt>
            <dd>If you have a good image, post it and ask (use the comments field for this)! You will need to provide a taxon name, but it can be general (e.g., Trilobita) at first. If somebody tells you what the specimen is, you can always go back and edit the taxonomic data.</dd><br><br>

            <dt>What is a 'taxonomic orphan?'</dt>
            <dd>A taxonomic orphan is a name that cannot currently be linked to a fossil group (e.g., Brachiopoda) based on <a href="http://strata.geology.wisc.edu/jack">Sepkoski's global compendium</a>. This does not mean the name is wrong, but it does mean that searches for a taxon can never return the image. Soon we will have a page where it will be possible to deorphan taxonomic names by assigning them to a known group in Sepkoski's Database.</dd><br><br>

            <dt>Can I post more than one image of the same specimen?</dt>
            <dd>Yes! Sometimes multiple views of the same specimen are helpful and you should feel free to post as many as you'd like. It might be best to combine those images into a single composite before submission, but that is up to you. If you would like be able to identify your specimens with numbers in the database, let Shanan know and he will add this feature.</dd><br><br>

            <dt>What's the point of all this?</dt>
            <dd>There are two points: 1) to provide the Friends with a specimen image and sharing resource, and to provide easy access to information about Michigan Basin fossils, and 2) to accumulate high-quality images with rich stratigraphic and taxonomic content for use in an interactive web kiosk in the museum.</dd><br><br>
          </dl>
        </div>
      </div>
    <hr>

    {{> footer}}

    </div><!--/.fluid-container-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<script src="/js/jquery.v2.0.min.js"></script>-->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>-->
    <script src="/js/mustache.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>