<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>

    {{> navbar}}
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3>Legal</h3>

           <p>All of the images submitted to the UMMP web site and their copyrights belong to the individual contributors, and you must contact the contributor or the Friends of the UMMP for permission to use these images for anything but your own enjoyment. You have been warned!<br><br>
        The purpose of this site is to share images and information, but PLEASE respect the efforts of the contributors and the UMMP and use these images ONLY with citation and permission!</p>
        </div>
      </div>
    <hr>

    {{> footer}}
    </div><!--/.fluid-container-->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<script src="/js/jquery.v2.0.min.js"></script>-->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>-->
    <script src="/js/mustache.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/common.js"></script>

  </body>
</html>