<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>

	 {{> navbar}}

    <div class="container-fluid">
      <div class="row-fluid">
      	<div class="span8" id="results">
      		{{#limits}}
      		<h3 style="text-align:center;">{{header}}</h3>
      		{{/limits}}
      		{{#pages}}
            {{#small}}
              <div class="pagination pagination-centered">
                <ul>
                  {{#firstPage}}
                  {{/firstPage}}
                  {{^firstPage}}
                    <li><a href="{{previous}}">&lt;</a></li>
                  {{/firstPage}}

                  {{#pagination}}
                    {{#active}}
                      <li class="active"><a href="{{pageurl}}">{{pageid}}</a></li>
                    {{/active}}
                    {{^active}}
                      <li><a href="{{pageurl}}">{{pageid}}</a></li>
                    {{/active}}
                  {{/pagination}}

                  {{#lastPage}}
                  {{/lastPage}}
                  {{^lastPage}}
                    <li><a href="{{next}}">&gt;</a></li>
                  {{/lastPage}}

                </ul>
              </div>
            {{/small}}
            {{^small}}
            <div class="pagination pagination-centered">
              <ul>
                {{#firstPage}}
                {{/firstPage}}
                {{^firstPage}}
                  <li><a href="{{first}}">&laquo;</a></li>
                  <li><a href="{{previous}}">&lt;</a></li>
                {{/firstPage}}
       
                {{#pagination}}
                  {{#active}}
                    <li class="active"><a href="{{pageurl}}">{{pageid}}</a></li>
                  {{/active}}
                  {{^active}}
                    <li><a href="{{pageurl}}">{{pageid}}</a></li>
                  {{/active}}
                {{/pagination}}

                {{#lastPage}}
                {{/lastPage}}
                {{^lastPage}}
                  <li><a href="{{next}}">&gt;</a></li>
                  <li><a href="{{lastpageurl}}">&raquo;</a></li>
                {{/lastPage}}

              </ul>
            </div>
            {{/small}}
          
          {{/pages}}
          {{^pages}}{{/pages}}
      		<div class="accordion" id="accordion2"></div>
      		<table class="table table-condensed" id="resultTable">
      			<thead>
      				<tr>
      					<th>More Info</th>
      					<th>Image</th>
      					<th>Taxa</th>
      					<th>Strat Unit</th>
      					<th>Contributor</th>
      				</tr>
      			</thead>
      			<tbody>
      				{{#result}}
      				<tr>
      					<td>
      						<div class="accordion-group">
      							<div class="accordion-heading">
      								<a href="#collapse{{id}}" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"><i class="icon-plus"></i></a>
      							</div>
      						</div>
      					</td>
      					<td><a href="#lightbox" class="thumb" id="{{id}}" data-toggle="modal"><img src="/images/thumbs/{{id}}.jpg"/></a></td>
      					<td><i>{{#type_specimen}}{{taxa}}<strong><br>Type Specimen</strong>{{/type_specimen}}{{^type_specimen}}{{taxa}}{{/type_specimen}}</i></td>
      					<td><a href="/search?{{rank}}={{unit}}">{{unit}} formation</a></td>
      					<td><a href="/search?contrib={{name}}">{{name}}</a></td>
      				</tr>
      				<tr>
      					<td class="moreInfo"></td>
      					<td colspan="5" class="noBoarder">
      						<div class="accordion-body collapse" id="collapse{{id}}" style="height:0px;">
      							<div class="accordion-inner">
                      <ul id="tabs" class="nav nav-tabs">
                        <li class="active"><a href="#ummpInfo{{id}}" data-toggle="tab"><img class="logo_small" src="/img/ummp_small.jpg"/></a></li>
                        <li><a class="pbdbInfo" href="#pbdbInfo{{id}}" data-toggle="tab"><img class="logo_small" src="/img/PBDB.jpg"/></a></li>
                        <li><a class="deepblueInfo" href="#deepblueInfo{{id}}" data-toggle="tab"><img class="logo_small" src="/img/deepblue.png"/></a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="ummpInfo{{id}}">
          								<p>
          									<strong>Submitted on </strong>{{date}} <strong>by </strong>{{name}}
          								<br><br><strong>Location (approximate):</strong> {{city}}, {{county}}, {{state}}
          								<br><br><strong>Strat unit:</strong> <a href="/search?{{rank}}={{unit}}">{{unit}} formation</a>
          								<br><br><strong>Submitter notes:</strong> {{notes}}
                          <br><br><strong>Photo title:</strong> {{title}}
                          <br><br><strong>Taxa present:</strong> <i>{{taxa}}</i>
                          {{#type_specimen}}
                          <br><br><strong>UMMP specimen number: </strong> {{type_specimen}} {{ummp}}
                          {{/type_specimen}}
                          <br><br><a href="/viewrecord/{{id}}">View full record</a>
          								</p>
                        </div>
                        <div class="tab-pane" id="pbdbInfo{{id}}">
                        </div>
                        <div class="tab-pane" id="deepblueInfo{{id}}">
                        </div>
                      </div>
      							</div>
      						</div>
      					</td>
      				</tr>
      				{{/result}}
      			</tbody>
      		</table>
      		{{#pages}}
            {{#small}}
              <div class="pagination pagination-centered">
                <ul>
                  {{#firstPage}}
                  {{/firstPage}}
                  {{^firstPage}}
                    <li><a href="{{previous}}">&lt;</a></li>
                  {{/firstPage}}

                  {{#pagination}}
                    {{#active}}
                      <li class="active"><a href="{{pageurl}}">{{pageid}}</a></li>
                    {{/active}}
                    {{^active}}
                      <li><a href="{{pageurl}}">{{pageid}}</a></li>
                    {{/active}}
                  {{/pagination}}

                  {{#lastPage}}
                  {{/lastPage}}
                  {{^lastPage}}
                    <li><a href="{{next}}">&gt;</a></li>
                  {{/lastPage}}

                </ul>
              </div>
            {{/small}}
            {{^small}}
            <div class="pagination pagination-centered">
              <ul>
                {{#firstPage}}
                {{/firstPage}}
                {{^firstPage}}
                  <li><a href="{{first}}">&laquo;</a></li>
                  <li><a href="{{previous}}">&lt;</a></li>
                {{/firstPage}}
       
                {{#pagination}}
                  {{#active}}
                    <li class="active"><a href="{{pageurl}}">{{pageid}}</a></li>
                  {{/active}}
                  {{^active}}
                    <li><a href="{{pageurl}}">{{pageid}}</a></li>
                  {{/active}}
                {{/pagination}}

                {{#lastPage}}
                {{/lastPage}}
                {{^lastPage}}
                  <li><a href="{{next}}">&gt;</a></li>
                  <li><a href="{{lastpageurl}}">&raquo;</a></li>
                {{/lastPage}}

              </ul>
            </div>
            {{/small}}
          
          {{/pages}}
          {{^pages}}{{/pages}}
      	</div>
      	<div class="span4">
          <div id="map"></div>
          <div id="diversity"></div>
      	</div>
      </div>
      <hr>
      
      {{> footer}}

    </div><!--/.fluid-container-->

    <div id="thumbnailLightbox" class="modal modalImage hide fade">
      <div class="modal-body image" id="thumbnailLightboxBody">
        <ul id="tabs" class="nav nav-tabs">
          <li class="active"><a href="#grid" data-toggle="tab"><i class="icon-th"></i></a></li>
          <li><a href="#slides" data-toggle="tab"><i class="icon-picture"></i></a></li>
          <li id="rightArrow" class="pull-right"><a href="javascript:morePictures(currentCounty, 1)"><i class="icon-arrow-right"></i></a></li>
          <li id="modalPagination" class="pull-right">page <i id="currentPage"></i> of <i id="totalPages"></i></li>
          <li id="leftArrow" class="pull-right"><a href="javascript:morePictures(currentCounty, 0)"><i class="icon-arrow-left"></i></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="grid"><!--thumbnails here --></div>
          <div class="tab-pane" id="slides">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
            </div>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close &times;</button>
      </div>
    </div>

    <div id="lightbox" class="modal modalImage hide fade">
      <div class="modal-body image" id="lightboxBody">
        <ul id="tabCurrent" class="nav nav-tabs">
          <li><a href="#gridCurrent" data-toggle="tab"><i class="icon-th"></i></a></li>
          <li class="active"><a href="#slidesCurrent" data-toggle="tab"><i class="icon-picture"></i></a></li>
        </ul>
        <!-- Carousel items -->
        <div class="tab-content">
          <div class="tab-pane" id="gridCurrent">
            <div class="row-fluid">
              <div class="span12">
                {{#result}}
                <div class="span3 ratio tmb" id="{{id}}" style="background-image:url('/images/thumbs/{{id}}.jpg')"></div>
                {{/result}}
              </div>
            </div>
          </div>
          <div class="tab-pane active" id="slidesCurrent">
            <div id="myCarousel2" class="carousel slide">
              <div class='carousel-inner'>
                {{#result}}
                <div class='item' id='{{id}}'>
                  <a href='/viewrecord/{{id}}'>
                    <img src='/images/main/{{id}}.jpg'/>
                  </a>
                  <div class='carousel-caption'>
                    <h4 class="slideTitle">{{taxa}}</h4>
                    <p>{{name}}</p>
                  </div>
                </div>
                {{/result}} 
              </div>
              <a class='carousel-control left' href='#myCarousel2' data-slide='prev'>&lsaquo;</a>
              <a class='carousel-control right' href='#myCarousel2' data-slide='next'>&rsaquo;</a>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close &times;</button>
      </div>
    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/topojson.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/leaflet.js"></script>
    <script src="/js/mustache.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/searchResults.js"></script>

  	<script type="text/javascript">
      function getMapData() {
    		return {{{mapdata}}};
    	}
    	init();
    </script>
  </body>
</html>