<!DOCTYPE html>
<html lang="en">
  {{> head}}

  <body>

    {{> navbar}}
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3>Image upload successful</h3>
          {{#photoInfo}}
          <table>
            <tr>
              <th>Image</th>
              <td><img src="{{url}}"/></td>
            </tr>
            <tr>
              <th>Original Name</th>
              <td>{{orig_name}}</td>
            </tr>
            <tr>
              <th>Image size</th>
              <td>{{size}} mb</td>
            </tr>
            <tr>
              <th>Title</th>
              <td>{{title}}</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>{{location}}</td>
            </tr>
          </table>
          {{/photoInfo}}
          <a class="btn" href="/">Home</a>
          <a class="btn" href="/upload">Add another photo</a>
        </div>
      </div>
    <hr>

    {{> footer}}

    </div><!--/.fluid-container-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<script src="/js/jquery.v2.0.min.js"></script>-->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>-->
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/mustache.js"></script>

  </body>
</html>