<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Friends of the UMMP Michigan Basin Specimen Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="John J Czaplewski"/>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.10.3.custom.css"/>
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="/css/viewRecord.css" rel="stylesheet"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <style>
      th {
        text-align: left;
      }
    </style>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42320781-1', 'michiganbasinfossils.org');
      ga('send', 'pageview');

    </script>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="brand">UMMP Photo Archive</a>
          <div class="nav-collapse collapse nav-pills pull-right">
            <ul class="nav">
              <li><a href="/">Home</a></li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    About
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="/aboutus" title="About">About Us</a></li>
                  <li><a href="/about" title="About the application">The Application</a></li>
                  <li><a href="/stats" title="Stats">Stats</a></li>
                  <li><a href="/legal" title="Legal">Legal</a></li>
                </ul>
              </li>

              
              <li><a href="/search/recent?page=1">Browse</a></li>
              
              <li id="searchButton" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Search
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <form method='POST' action='/simpleSearch?page=1' onsubmit="return checkSearch()" id="searchForm" >
                      <div class="control-group" id="simpleSearch">
                        <div class="input-append">
                          <input type="hidden" id="searchType" name="searchType"/>
                          <input class="span3 typeahead" id="appendedInputButton" type="text" name="query" placeholder="Taxon, species, or photo id"/>
                          <button style="margin-top: 2px;" class="btn btn-success" type="submit"><i class="icon-search"></i></button>
                        </div>
                        <span class="help-inline" id="queryHelp" style="display:none;"></span>
                      </div>
                    </form>
                  </li>
                  <li><a href="/advancedSearch">Advanced Search</a></li>
                </ul>
              </li>
              
              {{#login}}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Welcome {{full_name}} 
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="/upload">Upload photo</a></li>
                  <li><a href="/faq">Upload help</a></li>
                  <li><a href="#" type="submit" onclick="document.forms['contributions'].submit(); return false;">My contributions</a></li> 
                  <li><a type="submit" href="/logout">Log out</a></li>
                </ul>
              </li>
              <form name="contributions" method="GET" action="/search">
                <input type="hidden" name="contrib" value="{{full_name}}"/>
              </form>
              {{/login}}
              {{^login}}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Login
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu pull-right">
                  <form method="POST" action="/login">
                    <input class="span2" name="user" type="text" placeholder="Username"/>
                    <input class="span2" name="password" type="password" placeholder="Password"/>
                    <button type="submit" class="btn btn-primary">Log in</button>
                  </form>
                </ul>
              </li>
              {{/login}}

            </ul>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        {{#result}}
        <div class="span4">
          <h2 id="{{id}}">{{title}}</h2>{{#belongs_to}}<small class="editRecord" id="edit{{id}}">Edit record</small>{{/belongs_to}}{{^belongs_to}}{{/belongs_to}}
          <p>
            <strong>Submitted by: </strong>{{name}}
            <br>
            <strong>Taxa: </strong>{{taxa}}
            <br>
            <strong>Submit date: </strong>{{date}}
            <br>
            <strong>Location (approximate): </strong>{{city}}, {{county}}, {{state}}
            <br>
            <strong>Strat unit: </strong><a href="/search?{{rank}}={{unit}}">{{unit}} Formation</a>
            <br>
            <strong>Age: </strong><a href="/search?chron_id={{chron_id}}">{{stage}}</a> ({{containing_stage}})
            <br>
            <strong>Submitter notes: </strong>{{notes}}
            <br>
          </p>
          <hr>
          <h3>From PaleoDB:</h3>
          <div id="fromPbDB"></div>
          <hr>
          <h3>Deep Blue:</h3>
          <div id="fromDeepBlue"></div>
        </div>
        <div class="span8">
          <a href="/images/full/{{id}}.jpg"><img src="/images/main/{{id}}.jpg"/></a>
          {{#comments.0}}
          <h3>Comments:</h3>
          {{/comments.0}}
          {{#comments}}
          <div class="userComment">
            <header>
              <h4>{{name}}<small class="time">{{post_time}}</small>{{#belongs_to}}<small class="editComment" id="{{id}}">Edit</small><small class="deleteComment" id="{{id}}">Delete</small>{{/belongs_to}}{{^belongs_to}}{{/belongs_to}}</small></h4>  
            </header>
            <section id="comment{{id}}">
              {{comments}}
            </section>
          </div>
          {{/comments}}
          {{#login}}
            <form method="POST" id="commentForm" action="/addComment">
              <input type="hidden" name="photoID" value="{{id}}">
              <textarea rows="3" class="span8" name="comments" placeholder="Add a new comment..."></textarea><br>
              <button class="btn btn-success" type="submit">Submit comment</button>
            </form>
          {{/login}}
          {{^login}}
            <div class="addComment">
              <strong><em>Please log in above to add a new comment</em></strong>
            </div>
          {{/login}}
        </div>
        {{/result}}
      </div>
    <hr>

    <footer>
      <img style="width:55px;"src="/img/nsf.png"/>
      <p style="display:inline;">Funding provided by NSF EAR #1150082<br>
        Produced by the <a href="http://strata.geology.wisc.edu/Home/Home.html">Macrostrat Lab</a> at the University of Wisconsin-Madison Department of GeoScience</p>
    </footer>

    </div><!--/.fluid-container-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<script src="/js/jquery.v2.0.min.js"></script>-->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="http://ajax.cdnjs.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>-->
    <script src="/js/mustache.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/viewrecord.js"></script>

  </body>
</html>