body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url(/img/cream_pixels.png);
  font-family: 'Open Sans', sans-serif;
}
footer {
  text-align: center;
}
a { 
  transition: all 0.6s ease-out; 
} 
.sidebar-nav {
  padding: 9px 0;
}
.jumbotron {
  text-align: center;
  z-index: 1029;
  position: absolute;
  background-color: rgba(150, 150, 150, 0.5);
  width:100%;
  text-shadow: 1px 1px 5px whitesmoke;
  -moz-box-shadow: 0px 4px 10px whitesmoke;
  -webkit-box-shadow: 0px 4px 10px whitesmoke;
  box-shadow: 0px 4px 10px whitesmoke;
  margin-top:0px;
  padding-top: 8px;
  padding-bottom: 1px;
}
.jumbotron h1 {
  font-size: 33px;
  line-height: 1;
}
.thumbnails {
  text-align: center;
}
.modalInfo {
  left:0;
  right:0;
  margin-left: 0;
  width:85%;
  max-width: 700px;
  position: absolute;
  margin:auto;
}
.modalImage {
  left:0;
  right:0;
  margin-left: 0;
  position: fixed;
  margin:auto;
  padding:5px;
}
.modal img {
  display: block;
  margin:0 auto;
}
.modal-header {
  padding:15px;
}
.modal-body {
  padding:25px;
}
table td.moreInfo {
  border-top:none;
  line-height: 18px;
  padding:0px;
  text-align: left;
  vertical-align: top;
}
table td.noBoarder {
  border-top: none;
}
.accordion-inner p{
  text-align: left;
  padding:12px 3px;
}
.pagination ul > li > a {
  color:#000;
}
.carousel {
  margin-bottom: 0;
}
.modal-header .close {
  margin-top: -14px;
}
.checkbox input[type="checkbox"] {
  margin-left:10px;
  margin-right:4px;
}
#search {
  height:550px;
  width:auto;
  overflow: scroll;
  padding: 20px;
  display:none;
  position: absolute;
  margin-top: 1px;
  background-color: whitesmoke;
  box-shadow: 2px 3px 7px #333;
}
#logo {
  width:250px;
  float:right;
  margin-bottom:5px;
}
#map {
  height:85%;
  position: absolute;
}
.legend {
  line-height: 20px;
  color: #555;
  background-color:white;
  padding:10px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}
.lLabel {
  position: absolute;
  margin-top:-14px;
  margin-left:33px;
}
#explore {
  text-align: center;
  color:#777;
  font-weight: bolder;
  letter-spacing: 6px;
  opacity: 0.8;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  body {
    padding-top:0;
  }
}
@media (max-width:768px) {
  .jumbotron h1 {
    font-size: 40px;
  }
  .lead {
    font-size: 18px;
  }
}